


# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

/server/node_modules
/server/.pnp
/server/.pnp.js
/server/.yarn/install-state.gz

# testing
/server/coverage
/client/coverage

# production
/client/build

# next.js
/server/.next/
/server/out/

# production
/server/build

# misc
/server/.DS_Store
/server/*.pem

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# debug
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

# local env files
/server/.env*.local

/server/.env

# vercel
/server/.vercel

# typescript
/server/*.tsbuildinfo
/server/next-env.d.ts
